@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');


a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.15em;
}

#section > span {
	font-size: 2em;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.25em;
}


html {
	 padding: 0;
   margin: 0;
   scroll-behavior: smooth;
}
body {
  background-color: #111C2F!important;
	padding: 0;
	margin: 0;
	
}

#section{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

#section2{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

#section3{
  /* background: radial-gradient(#172D4D, #0D1B2D); */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50vh;
}

#section4{
	/* background-color: #F2F7F9; */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Roboto-Regular';
}

.nav {
  padding-top: 2em;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav > .nav-header {

  position: absolute;
  top: 50%;
  left: 2%;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 12px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #fff;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

.nav-title{
  font-size: 1em;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.15em;
}

.scroll{
  position: absolute;
  font-size: 0.75em;
  padding-bottom: 2em;
  bottom: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  letter-spacing: 0.25em;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#bg canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    /* background-color: #333; */
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
